<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>


<% if user_posts_any?(@user) %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% else %>
  <%= @user.name %> has not submitted any posts.
<% end %>
<br>
<% if user_comment_any?(@user) %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <%= @user.name %> has not submitted any comments yet.
<% end %>
<br>
<h2>Posts <%= @user.name %> has favorited:</h2>

  <% @favorited_posts.each do |post| %>
    <p><%= link_to post.title, topic_post_path(post.topic.id, post.id) %></p>
  <% end %>
